body {
    margin: 0;
    padding: 0;
}


.container {
    width: 100vw;
    height: 100vh;
    /*background-color: pink;*/
    display: flex;
    justify-content: center;
    align-items: center;


}



.main-card {
    background-color: orange;
    width: 200px;
    height: 200px;
}






.top {
  width: 100vh;
  height: 10px;
  top: 0;
  left: 0%;
  position: absolute;
}


.bottom {

  width: 100vh
  height: 10px;

  bottom: 0;
  left: 93%;
  position: absolute;
  
  background-image: url(./img/bg-pattern-bottom.svg);


}
